<% provide(:title, 'new sales rep')%>
<h1>new sales rep</h1>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= form_for(@salesrep) do |f| %>
            <%= render 'fields', :f=> f %>
            <%= f.submit "Create sales rep", class: "btn btn-primary" %>
    <% end %>
    </div>

</div>