<% provide(:title, "Edit Summary") %>
<h1>Update Summary</h1>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= form_for(@summary) do |f| %>
            <%= render 'fields', :f=>f %>
            <%= f.submit "Save changes", class: "btn btn-primary" %>
             </p>
    <% end %>
    </div>
</div>
